<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.netbanking.utilities.Reporting"></listener>
	</listeners>
  <test  name="test">
	<parameter name="browser" value="chrome"></parameter>
    <classes>
     <!-- <class name="com.netbanking.testcases.TC001_Login_Test"></class> -->
    <!--  <class name="com.netbanking.testcases.TC002_LoginDDT_Test"></class> -->
      <class name="com.netbanking.testcases.TC003_AddNewCustomer"></class> 
      
    </classes>
  </test> 
</suite> 